In [3]:
people={"firstname": ["dayo","sayo","bayo","layo","lola"],
       "lastname": ["Odewale","Alade","Opeyemi","Adewunmi","Olwolabi"],
       "email": ["dayoodewale@gmail.com","sayoalade@gmail.com","bayoopeyemi@gmail.com","layoadewunmi@gmail.com","lolaowolabi@gmail.com"]
       }

In [4]:
print(people)

{'firstname': ['dayo', 'sayo', 'bayo', 'layo', 'lola'], 'lastname': ['Odewale', 'Alade', 'Opeyemi', 'Adewunmi', 'Olwolabi'], 'email': ['dayoodewale@gmail.com', 'sayoalade@gmail.com', 'bayoopeyemi@gmail.com', 'layoadewunmi@gmail.com', 'lolaowolabi@gmail.com']}

In [5]:
import pandas as pd

In [6]:
print(people)

{'firstname': ['dayo', 'sayo', 'bayo', 'layo', 'lola'], 'lastname': ['Odewale', 'Alade', 'Opeyemi', 'Adewunmi', 'Olwolabi'], 'email': ['dayoodewale@gmail.com', 'sayoalade@gmail.com', 'bayoopeyemi@gmail.com', 'layoadewunmi@gmail.com', 'lolaowolabi@gmail.com']}

In [9]:
people["email"]

['dayoodewale@gmail.com',
 'sayoalade@gmail.com',
 'bayoopeyemi@gmail.com',
 'layoadewunmi@gmail.com',
 'lolaowolabi@gmail.com']

In [10]:
df=pd.DataFrame(people)

In [11]:
df

  firstname  lastname                   email
0      dayo   Odewale   dayoodewale@gmail.com
1      sayo     Alade     sayoalade@gmail.com
2      bayo   Opeyemi   bayoopeyemi@gmail.com
3      layo  Adewunmi  layoadewunmi@gmail.com
4      lola  Olwolabi   lolaowolabi@gmail.com

In [12]:
df["email"]

0     dayoodewale@gmail.com
1       sayoalade@gmail.com
2     bayoopeyemi@gmail.com
3    layoadewunmi@gmail.com
4     lolaowolabi@gmail.com
Name: email, dtype: object

In [15]:
type(df["firstname"])

pandas.core.series.Series

In [16]:
df.columns

Index(['firstname', 'lastname', 'email'], dtype='object')

In [18]:
df.iloc[0]

firstname                     dayo
lastname                   Odewale
email        dayoodewale@gmail.com
Name: 0, dtype: object

In [19]:
df.loc[0]

firstname                     dayo
lastname                   Odewale
email        dayoodewale@gmail.com
Name: 0, dtype: object

In [21]:
df.iloc[0,1]

'Odewale'

In [22]:
df.iloc[[0,1],2]

0    dayoodewale@gmail.com
1      sayoalade@gmail.com
Name: email, dtype: object

In [24]:
df.set_index("email")

                       firstname  lastname
email
dayoodewale@gmail.com       dayo   Odewale
sayoalade@gmail.com         sayo     Alade
bayoopeyemi@gmail.com       bayo   Opeyemi
layoadewunmi@gmail.com      layo  Adewunmi
lolaowolabi@gmail.com       lola  Olwolabi

In [25]:
df.index

RangeIndex(start=0, stop=5, step=1)

In [28]:
df.iloc[0]

firstname                     dayo
lastname                   Odewale
email        dayoodewale@gmail.com
Name: 0, dtype: object

In [30]:
df.sort_index(ascending=False)

  firstname  lastname                   email
4      lola  Olwolabi   lolaowolabi@gmail.com
3      layo  Adewunmi  layoadewunmi@gmail.com
2      bayo   Opeyemi   bayoopeyemi@gmail.com
1      sayo     Alade     sayoalade@gmail.com
0      dayo   Odewale   dayoodewale@gmail.com

In [31]:
df.sort_index(ascending=True)

  firstname  lastname                   email
0      dayo   Odewale   dayoodewale@gmail.com
1      sayo     Alade     sayoalade@gmail.com
2      bayo   Opeyemi   bayoopeyemi@gmail.com
3      layo  Adewunmi  layoadewunmi@gmail.com
4      lola  Olwolabi   lolaowolabi@gmail.com

In [33]:
df.reset_index[inplace==True]

NameError: name 'inplace' is not defined